/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');

/*VARIABLES CSS*/
:root {
  --first-color: hsl(217, 75%, 80%);
  --body-color: hsl(211, 100%, 95%);
  --body-font: 'Montserrat Alternates', sans-serif;
  --normal-font-size: 1.25rem;
}

/* Reset CSS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* BASE */

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--body-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

a {
  text-decoration: none;
}

/*BUTTON*/
.button {
  position: relative;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.9rem 2.20rem;
  border-radius: 3rem;
  /* transition: 0.4s; */
}

.button::after {
  content: '';
  width: 80%;
  height: 40%;
  background: linear-gradient(
    80deg,
    hsl(217, 80%, 80%) 10%,
    hsl(217, 85%, 70%) 48%
  );
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  margin: 0 auto;
  border-radius: 3rem;
  filter: blur(12px);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s;
}


.btn-text {
  position: relative;
  z-index: 10;
}

.button img{
  position: absolute;
  inset: 0;
  margin: auto;
  pointer-events: 0.6s;
  transition: 0.6s;
  opacity: 0;
}

/* Move 3D geometric elements */
.btn-cone{
  width: 18px;
  transform: translate(-25px, -6px) rotate(55deg);
  filter: blur(0.5px);
}

.btn-torus{
  width: 38px;
  transform: translate(7px, -14px) rotate(80deg);
}

.btn-icosahedron{
  width: 36px;
  transform: translate(34px, -4px) rotate(-45deg);
  filter: blur(0.9px);
}

.btn-sphere{
  width: 30px;
  transform: translate(-5px, 15px) rotate(40deg);
}

/* View shadow gradient */

/* Button scale */

/* View 3D geometric elements */
